In [1]:
import pandas as pd

In [29]:
sales_data= pd.read_csv("https://raw.githubusercontent.com/ashfiqunmustari/Automated-Restaurant-Sales-Report-Generator/refs/heads/main/Data/Local-Restaurant-Fast-Food-Sales.csv")

In [30]:
sales_data.head(10)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07-03-2022,Spring Roll,Fastfood,20,13,260,NaN,Mr.,Night
1,2,8/23/2022,Chicken Wings,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,11/20/2022,Chicken Wings,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,02-03-2023,Lemonade,Beverages,25,6,150,Online,Mr.,Night
4,5,10-02-2022,Lemonade,Beverages,25,8,200,Online,Mr.,Evening
5,6,11/14/2022,Chicken Wings,Fastfood,20,10,200,Cash,Mr.,Evening
6,7,05-03-2022,Lemonade,Beverages,25,9,225,Cash,Mr.,Evening
7,8,12/22/2022,French Fry,Fastfood,20,14,280,Online,Mr.,Night
8,9,06-10-2022,French Fry,Fastfood,20,1,20,Cash,Mrs.,Morning
9,10,9/16/2022,French Fry,Fastfood,20,5,100,Online,Mr.,Afternoon

In [31]:
sales_data['item_name'].unique()

array(['Spring Roll', 'Chicken Wings', 'Lemonade', 'French Fry', 'Burger',
       'Sandwich', 'Cold coffee'], dtype=object)

In [32]:
sales_data['date'] = sales_data['date'].str.replace('-', '/')
sales_data['date'] = pd.to_datetime(sales_data['date'], dayfirst=False, errors='raise')
sales_data['date'] = sales_data['date'].dt.strftime('%d-%m-%Y')

In [33]:
sales_data.head(10)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,03-07-2022,Spring Roll,Fastfood,20,13,260,NaN,Mr.,Night
1,2,23-08-2022,Chicken Wings,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,20-11-2022,Chicken Wings,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,03-02-2023,Lemonade,Beverages,25,6,150,Online,Mr.,Night
4,5,02-10-2022,Lemonade,Beverages,25,8,200,Online,Mr.,Evening
5,6,14-11-2022,Chicken Wings,Fastfood,20,10,200,Cash,Mr.,Evening
6,7,03-05-2022,Lemonade,Beverages,25,9,225,Cash,Mr.,Evening
7,8,22-12-2022,French Fry,Fastfood,20,14,280,Online,Mr.,Night
8,9,10-06-2022,French Fry,Fastfood,20,1,20,Cash,Mrs.,Morning
9,10,16-09-2022,French Fry,Fastfood,20,5,100,Online,Mr.,Afternoon

In [34]:
#Checking missing values
missing_values = sales_data.isnull().sum()
print(missing_values)

order_id                0
date                    0
item_name               0
item_type               0
item_price              0
quantity                0
transaction_amount      0
transaction_type      107
received_by             0
time_of_sale            0
dtype: int64

In [38]:
sales_data['transaction_type'] = sales_data['transaction_type'].fillna('Unknown')
print("Mising values in 'transaction type': ",sales_data['transaction_type'].isnull().sum())

Mising values in 'transaction type':  0

In [39]:
#Checking for duplicate rows
duplicate_rows = sales_data.duplicated()
print("Number of duplicate rows:", duplicate_rows.sum())

Number of duplicate rows: 0

In [41]:
#Calculating total amount for each order
sales_data['total_sales_value'] = sales_data['item_price']*sales_data['quantity']
sales_data.head(10)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale,total_sales_value
0,1,03-07-2022,Spring Roll,Fastfood,20,13,260,Unknown,Mr.,Night,260
1,2,23-08-2022,Chicken Wings,Fastfood,20,15,300,Cash,Mr.,Afternoon,300
2,3,20-11-2022,Chicken Wings,Fastfood,20,1,20,Cash,Mr.,Afternoon,20
3,4,03-02-2023,Lemonade,Beverages,25,6,150,Online,Mr.,Night,150
4,5,02-10-2022,Lemonade,Beverages,25,8,200,Online,Mr.,Evening,200
5,6,14-11-2022,Chicken Wings,Fastfood,20,10,200,Cash,Mr.,Evening,200
6,7,03-05-2022,Lemonade,Beverages,25,9,225,Cash,Mr.,Evening,225
7,8,22-12-2022,French Fry,Fastfood,20,14,280,Online,Mr.,Night,280
8,9,10-06-2022,French Fry,Fastfood,20,1,20,Cash,Mrs.,Morning,20
9,10,16-09-2022,French Fry,Fastfood,20,5,100,Online,Mr.,Afternoon,100

In [43]:
#Extracting month and day of each sale
sales_data['date'] = pd.to_datetime(sales_data['date'], dayfirst=True)
sales_data['month'] = sales_data['date'].dt.month
sales_data['day_of_week'] = sales_data['date'].dt.day_name()

sales_data.head(10)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale,total_sales_value,month,day_of_week
0,1,2022-07-03,Spring Roll,Fastfood,20,13,260,Unknown,Mr.,Night,260,7,Sunday
1,2,2022-08-23,Chicken Wings,Fastfood,20,15,300,Cash,Mr.,Afternoon,300,8,Tuesday
2,3,2022-11-20,Chicken Wings,Fastfood,20,1,20,Cash,Mr.,Afternoon,20,11,Sunday
3,4,2023-02-03,Lemonade,Beverages,25,6,150,Online,Mr.,Night,150,2,Friday
4,5,2022-10-02,Lemonade,Beverages,25,8,200,Online,Mr.,Evening,200,10,Sunday
5,6,2022-11-14,Chicken Wings,Fastfood,20,10,200,Cash,Mr.,Evening,200,11,Monday
6,7,2022-05-03,Lemonade,Beverages,25,9,225,Cash,Mr.,Evening,225,5,Tuesday
7,8,2022-12-22,French Fry,Fastfood,20,14,280,Online,Mr.,Night,280,12,Thursday
8,9,2022-06-10,French Fry,Fastfood,20,1,20,Cash,Mrs.,Morning,20,6,Friday
9,10,2022-09-16,French Fry,Fastfood,20,5,100,Online,Mr.,Afternoon,100,9,Friday

In [46]:
#Categorizing orders by price range
max_sale=sales_data['total_sales_value'].max()
bin= [0, 100, 250, max_sale]
label= ['Low', 'Medium', 'High']
sales_data['price_category']= pd.cut(sales_data['total_sales_value'], bins=bin, labels=label)

sales_data[['total_sales_value', 'price_category']].head(10)

   total_sales_value price_category
0                260           High
1                300           High
2                 20            Low
3                150         Medium
4                200         Medium
5                200         Medium
6                225         Medium
7                280           High
8                 20            Low
9                100            Low

In [48]:
item_summary= sales_data.groupby('item_name')['total_sales_value'].sum().reset_index().sort_values(by='total_sales_value', ascending=False)
print(item_summary)

       item_name  total_sales_value
5       Sandwich              65820
0         Burger              57500
2    Cold coffee              54440
4       Lemonade              31950
3     French Fry              24520
6    Spring Roll              20880
1  Chicken Wings              20120

In [50]:
time_summary= sales_data.groupby('time_of_sale')['total_sales_value'].sum().reset_index()
print(time_summary)

  time_of_sale  total_sales_value
0    Afternoon              56345
1      Evening              52355
2     Midnight              50725
3      Morning              53730
4        Night              62075

In [52]:
monthly_summary= sales_data.groupby('month')['total_sales_value'].sum().reset_index()
print(monthly_summary)

    month  total_sales_value
0       1              28670
1       2              25595
2       3              25390
3       4              17670
4       5              26570
5       6              17335
6       7              19490
7       8              22305
8       9              18640
9      10              27205
10     11              22900
11     12              23460

In [54]:
payment_summary= sales_data.groupby('transaction_type')['total_sales_value'].sum().reset_index()
print(payment_summary)

  transaction_type  total_sales_value
0             Cash             132840
1           Online             110595
2          Unknown              31795

In [55]:
day_of_the_week_summary= sales_data.groupby('day_of_week')['total_sales_value'].sum().reset_index()
print(day_of_the_week_summary)

  day_of_week  total_sales_value
0      Friday              36050
1      Monday              40930
2    Saturday              37910
3      Sunday              43970
4    Thursday              39905
5     Tuesday              36085
6   Wednesday              40380

In [56]:
excel_file = "Restaurant_Sales_Report.xlsx"

In [58]:
from openpyxl import Workbook, load_workbook
from openpyxl.styles import Font, Alignment
from openpyxl.chart import BarChart, Reference

In [59]:
with pd.ExcelWriter(excel_file, engine='openpyxl') as writer:
    item_summary.to_excel(writer, index=False, sheet_name='Sales by Item')
    time_summary.to_excel(writer, index=False, sheet_name='Sales by Time of the Day')
    day_of_the_week_summary.to_excel(writer, index=False, sheet_name='Day of the week Sales')
    monthly_summary.to_excel(writer, index=False, sheet_name='Monthly Trend')
    payment_summary.to_excel(writer, index=False, sheet_name='Payment Methods')

In [60]:
wb= load_workbook(excel_file)
for sheet_name in wb.sheetnames:
    ws= wb[sheet_name]
    for row in ws[1]:
        row.font= Font(bold=True)
        row.alignment= Alignment(horizontal='center')

In [63]:
ws= wb['Sales by Item']
for row in range(2, 5):
    for cell in ws[row]:
        cell.font= Font(bold=True, color="FF0000")
wb.save(excel_file)

In [65]:
ws= wb['Sales by Item']
chart= BarChart()
chart.title= "Best Selling Items"
chart.x_axis.title= "Item Name"
chart.y_axis.title= "Total Sales"

data= Reference(ws, min_col=2, min_row=1, max_row=ws.max_row)
categories= Reference(ws, min_col=1, min_row=2, max_row=ws.max_row)
chart.add_data(data, titles_from_data=True)
chart.set_categories(categories)

ws.add_chart(chart, "E5")
wb.save(excel_file)

In [67]:
ws= wb['Sales by Time of the Day']
chart= BarChart()
chart.title= "Sales by Time of Day"
chart.x_axis.title= "Time of the Day"
chart.y_axis.title= "Total Sales"
data1= Reference(ws, min_col=2, min_row=1, max_row=ws.max_row)
categories1= Reference(ws, min_col=1, min_row=2, max_row=ws.max_row)

chart.add_data(data1, titles_from_data=True)
chart.set_categories(categories1)

ws.add_chart(chart, "D5")

In [68]:
ws= wb['Day of the week Sales']
chart= BarChart()
chart.title= "Sales by Day of the Week"
chart.x_axis.title= "Day"
chart.y_axis.title= "Total Sales"

data2= Reference(ws, min_col=2, min_row=1, max_row=ws.max_row)
categories2= Reference(ws, min_col=1, min_row=2, max_row=ws.max_row)

chart.add_data(data2, titles_from_data=True)
chart.set_categories(categories2)
ws.add_chart(chart, "D5")

In [69]:
from openpyxl.chart import LineChart

ws= wb['Monthly Trend']
chart= LineChart()
chart.title= "Monthly Sales Trend"
chart.x_axis.title= "Month"
chart.y_axis.title= "Total Sales"

data3= Reference(ws, min_col=2, min_row=1, max_row=ws.max_row)
categories3= Reference(ws, min_col=1, min_row=2, max_row=ws.max_row)

chart.add_data(data3, titles_from_data=True)
chart.set_categories(categories3)
ws.add_chart(chart, "D5")

In [70]:
from openpyxl.chart import PieChart
ws= wb['Payment Methods']
chart= PieChart()
chart.title= "Sales by Payment Method"
data4= Reference(ws, min_col=2, min_row=1, max_row=ws.max_row)
categories4= Reference(ws, min_col=1, min_row=2, max_row=ws.max_row)

chart.add_data(data4, titles_from_data=True)
chart.set_categories(categories4)
ws.add_chart(chart, "D5")

In [71]:
excel_file = "Restaurant_Sales_Report.xlsx"
wb.save(excel_file)

#Word Automation

In [72]:
!pip install python-docx

Collecting python-docx
  Downloading python_docx-1.2.0-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: lxml>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from python-docx) (5.4.0)
Requirement already satisfied: typing_extensions>=4.9.0 in /usr/local/lib/python3.12/dist-packages (from python-docx) (4.15.0)
Downloading python_docx-1.2.0-py3-none-any.whl (252 kB)
    253.0/253.0 kB 4.5 MB/s eta 0:00:00
Installing collected packages: python-docx
Successfully installed python-docx-1.2.0

In [106]:
from docx import Document
from docx.shared import Inches
doc = Document()
doc.add_heading("Local Restaurant Sales Report", 0)

In [107]:
total_sales= sales_data['total_sales_value'].sum()
total_orders= sales_data.shape[0]
average_order= total_sales / total_orders

doc.add_heading("Executive Summary", level=1)
doc.add_paragraph(f"Total Sales: {total_sales}")
doc.add_paragraph(f"Total Orders: {total_orders}")
doc.add_paragraph(f"Average Order Value: {average_order:.2f}")

In [108]:
doc.add_heading("Top-Selling Items", level=1)
table= doc.add_table(rows=1, cols=2)
hdr_cells= table.rows[0].cells
hdr_cells[0].text= "Item Name"
hdr_cells[1].text= "Total Sales"

for _, row in item_summary.iterrows():
    cells= table.add_row().cells
    cells[0].text= str(row['item_name'])
    cells[1].text= str(row['total_sales_value'])

In [109]:
import matplotlib.pyplot as plt
#Plotting sales by item names
plt.figure(figsize=(6,4))
plt.bar(item_summary['item_name'], item_summary['total_sales_value'], color='skyblue')
plt.title('Items by Sales')
plt.ylabel('Total Sales')
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig('top_items.png')
plt.close()


#Plotting sales by time of the day
plt.figure(figsize=(6,4))
plt.bar(time_summary['time_of_sale'], time_summary['total_sales_value'], color='orange')
plt.title('Sales by Time of Day')
plt.ylabel('Total Sales')
plt.savefig('sales_time.png')
plt.close()

#Showing payment method with a pie chart
plt.figure(figsize=(6,4))
plt.pie(payment_summary['total_sales_value'], labels=payment_summary['transaction_type'], autopct='%1.1f%%', startangle=90)
plt.title('Sales by Payment Method')
plt.savefig('payment_method.png')
plt.close()

#Plotting sales by day of the week
plt.figure(figsize=(6,4))
plt.bar(day_of_the_week_summary['day_of_week'], day_of_the_week_summary['total_sales_value'], color='green')
plt.title('Sales by Day of the Week')
plt.ylabel('Total Sales')
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig('sales_day.png')
plt.close()

In [110]:
doc.add_page_break()
doc.add_heading('Visualizations', level=1)
doc.add_paragraph('Items by Sales:')
doc.add_picture('top_items.png', width=Inches(5))

doc.add_paragraph('Sales by Time of the Day:')
doc.add_picture('sales_time.png', width=Inches(5))

doc.add_page_break()
doc.add_paragraph('Sales by Day of the Week:')
doc.add_picture('sales_day.png', width=Inches(5), height=Inches(4))

doc.add_paragraph('Sales by Payment Method:')
doc.add_picture('payment_method.png', width=Inches(5))

In [111]:
doc.save('Restaurant_Sales_Report.docx')